<form class="well form-inline" action="<%= needees_path %>" method="get">
  <div class="form-group">
    <label>I would like to help in: </label>
    <%= select_tag(:help_type, options_for_select(Needee::HelpType.helps, @help_type), class: "form-control") %>
  </div>
  <div class="form-group">
    <label> at: </label>
    <%= select_tag(:locality_id, options_for_select(@localities.collect{|loc| [loc.name, loc.id]}, @locality_id), class: "form-control") %>
  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>

<% if @needees.any? %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Locality</th>
        <th>Help Needed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% (0...@needees.count).each do |i| %>
        <% needee = @needees[i] %>
        <tr>
          <td><%= needee.id %></td>
          <td><%= needee.name %></td>
          <td><%= @localities.select{|loc| loc.id == needee.locality_id}.first.name %></td>
          <td><%= Needee::HelpType.help_name(needee.type_of_help) %></td>
          <td>Help</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
